.feature-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 12px;
}

.feature-section-content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 32px;
  row-gap: 48px;
}

.feature-section-features {
  grid-column: span 4;

  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.feature-section-image-right .feature-section-features {
  order: 1;
}

.feature-section-image-left .feature-section-features {
  order: 2;
}

.feature-section-feature {
  display: flex;
  gap: 20px;
}

.feature-section-feature-icon {
  width: 48px;
  height: 48px;
  background-color: var(--bg-primary);
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 9999px;
  color: var(--color-brand-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.feature-section-feature-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 10px 0;
}

.feature-section-feature-content-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--color-primary);
}

.feature-section-feature-content-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--color-secondary);
}

.feature-section-image-wrapper {
  grid-column: span 4;
}

.feature-section-image-right .feature-section-image-wrapper {
  order: 2;
}

.feature-section-image-left .feature-section-image-wrapper {
  order: 1;
}

.feature-section-image-wrapper img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow:
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .feature-section {
    gap: 64px;
    padding: 64px 16px;
  }

  .feature-section-content {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .feature-section-features,
  .feature-section-image-wrapper {
    grid-column: span 6;
  }

  .feature-section-image-wrapper img {
    height: 394px;
  }
}

@media (min-width: 1440px) {
  .feature-section {
    padding: 96px;
  }

  .feature-section-content {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .feature-section .section-header-title-left {
    padding: 0 250px;
  }

  .feature-section .section-header-subtitle-left {
    padding: 0 360px;
  }
}
